.App {
  text-align: center;
}

.App-header {
  background-color: #aaa;
  height: 300px;
  padding: 20px;
  color: white;
}

.Body {
  background-color: #aaa;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Goals {
  display: inline-block
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
